<!DOCTYPE html>
<html>
<head>
	{% block title %}{% endblock %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href='//fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
	<link href='//fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
	{% load static %}
	<link rel="stylesheet" href="{% static 'projectCard/assets/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'projectCard/assets/css/roll-in.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oxygen" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oxygen|Titillium+Web" rel="stylesheet">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<nav class="navbar navbar-toggleable-md navbar-primary bg-inverse">
  <a class="navbar-brand" href="#">J/M</a>
  <div class="navbar-collapse">
    <ul class="navbar-nav mx-auto ">
      <li class="nav-item active mr-4">
        <a class="nav-link font-open-sans" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ml-4">
        <a class="nav-link font-open-sans" href="{% url 'project' %}">Projects</a>
      </li>
    </ul>
  </div>
</nav>
</head>
<body>
<main>
	{% block content %}
	{% endblock %}
</main>
</body>
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-XXXXX-Y', 'auto');
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8= sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7 sha512-U6K1YLIFUWcvuw5ucmMtT9HH4t0uz3M366qrF5y4vnyH6dgDzndlcGvH/Lz5k8NFh80SN95aJ5rqGZEdaQZ7ZQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</html>