{% extends 'projectCard/base.html' %}
{% load static %}
{% block title %}
<title>JSmiles-Home</title>
{% endblock %}

{% block content %}
<div class='bg'>
<div class="container pt-5">
	<div class="row">
		<div class="col-md-12">
			<div class="content-wrapper pt-half">
				<h1 class='text-center font-open-sans font-white'>JOSEPH MILES</h1>
				<h2 class='text-center font-open-sans font-white'>SOFTWARE ENGINEER</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<hr></hr>
			<a href="{% static 'projectCard/assets/docs/JosephMilesResume3.docx' %}" style="color: white" class="btn btn-primary resume mr-2">RESUME</a>
			<a style="color: white" class="btn btn-primary resume ml-2">CONTACT</a>
		</div>
	</div>
</div>
</div>
{% endblock %}