{% extends 'projectCard/base.html' %}

{% block title %}<title>Projects</title>{% endblock %}

{% block content %}
<div class="container">
	<div class="row rotating-item-wrapper">
		{% for card in cards %}	
			<div class="col-md-3 rotating-item">
				<div class="card card-outline-info mb-3text-center ">
					<div class="card-block card">
						<h4 class="card-title">{{ card.name }}</h4>
						<div class="badge badge-info"></div>
		   			 		<p>{{ card.description }}</p>
		   			 		<p>{{ card.card_choice}}: {{ card.code }}</p>
  						</div>
				</div>
			</div>
		{% endfor %}
	</div>	
</div>
{% endblock %}