appdirs==1.4.3
diff-match-patch==20121119
Django==1.10.5
django-excel==0.0.6
django-import-export==0.5.1
django-localflavor==1.4.1
django-tinymce==2.6.0
packaging==16.8
pyexcel==0.4.5
pyexcel-io==0.3.3
pyexcel-webio==0.0.11
pyparsing==2.2.0
requests==2.13.0
six==1.10.0
tablib==0.11.4
texttable==0.8.8
gunicorn
